.titulo1{
    text-align: center;
    color: #7ac120;
    font-size: 50px;

}

.ilustracao{
    width: 40%;
    float: right;
    margin-right: 5%;
}

.texto1{
    font-size: 25px;
    margin-top: 10%;
    margin-left: 5%;
}
.texto2{
    font-size: 25px;
    margin-left: 5%;
}
.titulo2{
        text-align: center;
        color: #7ac120;
        
        font-size: 30px;
        
}
.texto3{
    font-size: 30px;
    text-align: center;
    margin: 20px 70px 10px 70px;
    margin-top: 20%;

}
.dados01{
    margin-left: 25%;
    width: 50%;
}
.titulo3{
    text-align: center;
    color: #7ac120;
    margin-top: 10%;
    font-size: 30px;
    
}
.texto4{
    font-size: 40px;
    padding-right: 30px;
}
.dados02{
    float: left;
   
}
.titulo4{
    text-align: center;
    color: #7ac120;
    font-size: 30px;
    
}
.texto5{
    font-size: 40px;
    margin-top: 10%;
}
.texto6{
    font-size: 40px;
}
.a{
    margin: 0% 5% 5% 40%;
    font-size: px;
}

